@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  background: white;
}

/* .elemento {
  animation-name: flash;
  animation-duration: 5s; 
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-direction:normal;
  animation-iteration-count:initial;
  animation-fill-mode:forwards;
  animation-play-state: running; 
}

@keyframes flash {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 100;

  }

  100% {
      opacity: 0;
  }
} */